# .pre-commit-config.yaml

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4 # Use latest stable version
    hooks:
      - id: ruff
        name: Ruff Linter
        args: ["--fix"]
      - id: ruff-format
        name: Ruff Formatter
