# .github/workflows/style_and_lint.yml

name: style_and_lint

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

jobs:
  style_and_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Ruff
        run: pip install ruff==0.14.4

      - name: Run Ruff Format Check
        run: |
          ruff format . --check --diff

      - name: Run Ruff Linting
        run: |
          ruff check .
